<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<title>Writings</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

		<style>

			.hr-1 {
				height: 10px;
				background: url({{ site.baseurl }}/assets/img/hr-1.jpg) no-repeat center;
				border: none;
			}
			.hr-2 {
				height: 15px;
				background: url({{ site.baseurl }}/assets/img/hr-2.jpg) no-repeat center;
				border: none;
			}

		</style>

	</head>
	<body>

		<div class="wrapper">

			<h1 style="text-align: center;">Writings.</h1>
			<hr class="hr-1">


			{% if page.title %}
				<br>
				<h1 style="text-align: center; color:#239B56;">{{ page.title }}</h2>
				<div style="text-align: right;"> {{ page.date | date: '%B %d, %Y' }}</div><br>
			{% endif %}

			{{ content }}
		
		</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
</html>
